body{
    padding: 100px;
}
.head_title{
    text-align: center;
}
.login{
    margin-top: 40px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#trans-area{
    display: none;
}
.deposite{
    
    background-color: slateblue;
}
.withdraw{
    
    background-color: lightcoral;
}
.balance{
    
    background-color: orange;
}
.status{
    margin: 0 20px;
    padding: 25px;
    border-radius: 10px;
    color: white;

}
.deals{
    margin: 40px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray; 
    padding: 50px;

}
.btn{
    border-radius: 5px;
}